BETTER_AUTH_SECRET="BETTER_AUTH_SECRET"
BETTER_AUTH_URL="http://localhost:8080"

TRUSTED_ORIGINS="http://localhost:4321"
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"

STRIPE_SECRET_KEY="STRIPE_SECRET_KEY"
STRIPE_WEBHOOK_SECRET="STRIPE_WEBHOOK_SECRET"