---
import { LayoutDashboard as LayoutDashboardReact } from "@/components/LayoutDashboard";
import { Toaster } from "@neostack/ui/components/sonner";
import LayoutBase from "./LayoutBase.astro";
const { pageName, customPadding } = Astro.props;
---

<LayoutBase>
  <LayoutDashboardReact
    pageName={pageName}
    initialAuth={Astro.locals.auth}
    initialUrl={Astro.url.toString()}
    customPadding={customPadding}
    client:load
    transition:animate="none"
  >
    <div transition:animate="fade">
      <slot />
    </div>
  </LayoutDashboardReact>
</LayoutBase>
